@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w100 {
  width: 100vw;
}

.h100 {
  height: 100vh;
}

.bgMain0 {
  background-color: #0B2447;
}

.bgMain1 {
  background-color: #19376D;
}

.bgMain2 {
  background-color: #576CBC;
}

.bgMain3 {
  background-color: #A5D7E8;
}

.color-2 {
  color: #A5D7E8;
}

.color-white {
  color: #ffffff;
}

.Open-sans-Regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
